<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
      <%= title %>
    </h1>
    <span>
      <label for="csvFile">Upload the file</label>
      <input type="file" id="csvFile" name="csvFile" accept=".csv, .pdf" />
      <table id="tableOut"></table>
      <button id="proceed">Proceed</button>
      <button id="uploadFile">Upload</button>
    </span>
    <span>
      <button id="runChat">RunChat</button>
      <textarea id="chatOutput"></textarea>
    </span>
    
    <script src="/javascripts/upload.js"></script>
    <script src="/javascripts/renderTable.js"></script>
  </body>
</html>
