@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.gradient {
  background-image: linear-gradient(to right, violet, rgb(35, 156, 204));
}
.custom-shadow{
  box-shadow: 0px 0px 20.11492919921875px 0px #0000000A;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 0;

}
.custom-scrollbar-2::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0ff;
  border-radius: 20px;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #cbcbfd;
  border-radius: 20px;
  width: 8px;

}

@layer utilities {
  .nav-links {
    @apply flex justify-start items-center gap-3 px-3 py-2 rounded-lg text-[15px] font-[500];
  }
  .card {
    @apply rounded-lg border border-grey-600 w-full h-full relative p-[30px] flex flex-col gap-10 custom-shadow;
  }ill
  .desc {
    @apply text-base text-gray-light mb-1;
  }
  .title {
    @apply text-[28px] font-[500] text-black;
  }
  .flex-center {
    @apply flex justify-between items-center;
  }
  .btn{
    @apply bg-blue-400 rounded-full py-[8.62px] px-[17.24px] text-sm text-white
  }
}

