@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.gradient{
background-image: linear-gradient(to right, violet, rgb(35, 156, 204));
}

@layer utilities {
  .nav-links {
    @apply flex justify-start items-center gap-3 px-3 py-2 rounded-lg text-[15px] font-[500];
  }
  .card{
    @apply rounded-lg border border-grey w-full h-full relative p-6 flex flex-col gap-10; 
  }
  .desc{
    @apply text-base text-gray-light mb-1 
  }
  .title{
    @apply text-[28px] font-[500] text-black
  }
  .flex-center{
    @apply flex justify-between items-center
  }
  .btn{
    @apply rounded-lg gradient text-base px-4 py-1;
  }
}
